
<div class="outerbox">
<h3>Editing comment</h3>

<%= render 'form' %>

<button class="btn"><%= link_to 'Show', @comment %> </button> |
  <button class="btn"><%= link_to 'Back', comments_path %></button>
</div>