
<div class="outerbox">

<h3>Editing post</h3>


<%= render 'form' %>

<button class="btn"><%= link_to 'Show', @post %> </button> |
<button class="btn"> <%= link_to 'Back', posts_path %>    </button>
</div>