
<div class="outerbox">
<h3>Editing category</h3>

<%= render 'form' %>

  <button class="btn"><%= link_to 'Show', @category %> </button>|
    <button class="btn"><%= link_to 'Back', categories_path %> </button>


</div>